<%- include ('../partials/header') %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>All Campgrounds</h1>
			<hr>
			<p>
				<a class="btn btn-primary btn-large" href="/campgrounds/new">Add new one</a>
			</p>
		</div>
	</header>
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="card" style="margin-bottom: 20px">
					<div class="image-grid-container" >
						<img style="height:150px" src="<%= campground.img%>" class="card-img-top">				
					</div>
					<div class="card-body">
						<h3><%=campground.name%></h3>
						<a href="/campgrounds/<%= campground._id%>" class="btn btn-info">More Info</a>	
					</div>
				</div>			
			</div>
		<% }); %>
	</div>
</div>

<%- include ('../partials/footer') %>